{% trans_default_domain 'FOSUserBundle' %}

<div class="fosuser_content_zone row">
    <!-- NOTHING -->
    <div class="col-3">
    </div>

    <!-- FORM -->
    <div class="fosuser_content col-6">

        <div class="fosuser_logo_title_zone row">
            <!-- NOTHING -->
            <div class="col-2"></div>

            <!-- TITLE/LOGO -->
            <div class="fosuser_logo_title_zone col-8">
                <div class="fosuser_logo_title_content">
                    <div class="fosuser_logo"><img src="{{ asset("img/logo1.png") }}"></div><br/>
                    <div class="fosuser_title">Lost Armada</div>
                </div>
            </div>

            <!-- NOTHING -->
            <div class="col-2">
            </div>
        </div>

        {% if error %}
            <div class="alert alert-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form class="form-group" action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <input class="fosuser_form_input form-control" placeholder="{{ 'security.login.username'|trans }}" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            <input class="fosuser_form_input form-control" placeholder="{{ 'security.login.password'|trans }}" type="password" id="password" name="_password" required="required" />
            <input class="fosuser_form_input_checkbox" type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label class="fosuser_form_label fosuser_form_label_rememberme" for="remember_me">Se souvenir de moi</label>
            <br/>
            <input class="btn btn-lg btn-perso btn-block" type="submit" id="_submit" name="_submit" value="Connexion"
                   onClick="this.disabled=true; this.value='Connexion en cours…'; this.form.submit();"/>
        </form>

        {% if error.user is not defined or error.user.enabled != false %}
            <a class="btn btn-lg btn-perso btn-perso-reverse btn-block" href="{{ path("fos_user_registration_register") }}">Je n'ai pas de compte</a>
            <a class="btn btn-lg btn-perso btn-perso-reverse btn-block" href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
{% endif %}

    </div>

    <!-- NOTHING -->
    <div class="col-3"></div>
</div>