{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nrcharacters list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Nickname</th>
            <th>Sexe</th>
            <th>Level</th>
            <th>Main</th>
            <th>Background</th>
            <th>Officiallink</th>
            <th>Dateupdate</th>
            <th>Dkptotal</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for nrCharacter in nrCharacters %}
            <tr>
                <td><a href="{{ path('character_show', { 'id': nrCharacter.id }) }}">{{ nrCharacter.id }}</a></td>
                <td>{{ nrCharacter.nickname }}</td>
                <td>{% if nrCharacter.sexe %}Yes{% else %}No{% endif %}</td>
                <td>{% if nrCharacter.level %}Yes{% else %}No{% endif %}</td>
                <td>{% if nrCharacter.main %}Yes{% else %}No{% endif %}</td>
                <td>{{ nrCharacter.background }}</td>
                <td>{{ nrCharacter.officialLink }}</td>
                <td>{% if nrCharacter.dateUpdate %}{{ nrCharacter.dateUpdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ nrCharacter.dkpTotal }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('character_show', { 'id': nrCharacter.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('character_edit', { 'id': nrCharacter.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('character_new') }}">Create a new nrCharacter</a>
        </li>
    </ul>
{% endblock %}
