{% extends 'base.html.twig' %}

{% block title %}
    Personnages - Ma liste
{% endblock %}

{% block body %}
    {% set cptCharacter = 0 %}

    <!-- page content -->
    <div class="row user-character-list">
        {% for character in characters %}
            {% set cptCharacter = cptCharacter +1 %}

            {# GET CHARACTER RACE FOR IMAGE #}
            {% if character.sexe == true %}
                {% if character.race.id == 1 %}
                    {% set race = "human" %}
                {% elseif character.race.id == 2 %}
                    {% set race = "dwarf" %}
                {% elseif character.race.id == 3 %}
                    {% set race = "elf" %}
                {% else %}
                    {% set race = "gnom" %}
                {#{% elseif character.race.id == 5 %}#}
                    {#{% set race = "orc" %}#}
                {#{% elseif character.race.id == 6 %}#}
                    {#{% set race = "troll" %}#}
                {#{% elseif character.race.id == 7 %}#}
                    {#{% set race = "tauren" %}#}
                {#{% else %}#}
                    {#{% set race = "undead" %}#}
                {% endif %}
            {% else %}
                {% if character.race.id == 1 %}
                    {% set race = "humanette" %}
                {% elseif character.race.id == 2 %}
                    {% set race = "dwarfette" %}
                {% elseif character.race.id == 3 %}
                    {% set race = "elfette" %}
                {% else %}
                    {% set race = "gnomette" %}
                {% endif %}
            {% endif %}

            {# GET CHARACTER CLASS FOR IMAGE #}
            {% if character.class.id == 1 %}
                {% set classe = "warrior" %}
            {% elseif character.class.id == 2 %}
                {% set classe = "rogue" %}
            {% elseif character.class.id == 3 %}
                {% set classe = "mage" %}
            {% elseif character.class.id == 4 %}
                {% set classe = "demoniste" %}
            {% elseif character.class.id == 5 %}
                {% set classe = "priest" %}
            {% elseif character.class.id == 6 %}
                {% set classe = "drood" %}
            {% elseif character.class.id == 7 %}
                {% set classe = "hunt" %}
            {% else %}
                {% set classe = "paladin" %}
            {#{% else %}#}
                {#{% set classe = "chaman" %}#}
            {% endif %}

            {# GET CHARACTER ROLE #}
            {% if character.mainRole.id == 1 %}
                {% set role = "tank" %}
            {% elseif character.mainRole.id == 2 %}
                {% set role = "heal" %}
            {% else %}
                {% set role = "dps" %}
            {% endif %}

            <div class="col-md-2 col-xs-12 widget widget_tally_box">
                <div class="x_panel fixed_height_390" style="height: 100%;">
                    <div class="x_content">

                        <div class="flex">
                            <ul class="list-inline widget_profile_box">
                                <li style="width: 20%!important;">
                                    <img src="{{ asset('img/classes/' ~ classe ~ 'Icone.png') }}" alt="{{ classe }}" class="round-logo-character-detail">
                                </li>
                                <li>
                                    <img src="{{ asset('img/races/' ~ race ~ 'Icone.png') }}" alt="{{ race }}" style="margin-left: 25%;" class="img-circle profile_img">
                                </li>
                                <li>
                                    <img src="{{ asset('img/roles/' ~ role ~ '.png') }}" alt="{{ role }}" title="{{ role }}" class="round-logo-character-detail">

                                </li>
                            </ul>
                        </div>

                        <h3 class="name">
                            {% if character.main == true %}
                                ☆
                            {% endif %}
                            <strong>{{ character.nickname }}</strong>
                            {% if character.main == true %}
                                ☆
                            {% endif %}
                            <br/>Niveau {{ character.level }}
                        </h3>

                        <p style="color: gray;">
                            Dernière MAJ le : {{ character.dateUpdate|date('d/m/Y H:i') }}
                        </p>
                        <hr/>
                        {% if character.firstMainJob != null or character.secondMainJob != null  %}
                            <div class="">
                                <ul>
                                    <li>
                                        <strong>{{ character.firstMainJob }}</strong>
                                        {% if character.firstMainJobLevel is not null %}
                                            (nv. <strong>{{ character.firstMainJobLevel }}</strong>)
                                        {% else %}
                                            (nv. ?)
                                        {% endif %}
                                    </li>
                                    {% if character.secondMainJob is not null %}
                                        <li>
                                            <strong>{{ character.secondMainJob }}</strong>
                                            {% if character.firstMainJobLevel is not null %}
                                                (nv. <strong>{{ character.secondMainJobLevel }}</strong>)
                                            {% else %}
                                                (nv. ?)
                                            {% endif %}
                                        </li>
                                    {% else %}
                                        <br/>
                                    {% endif %}
                                </ul>
                            </div>

                            {% else %}
                                <div style="text-align: center;">
                                    <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span><br/> Sans emploi, c'est la crise ...
                                </div>
                        {% endif %}
                        <hr/>

                        {# BUTTONS ZONE #}
                        <div class="buttons-row-character-list row">

                            <a href="{{ path('character_show', { 'id': character.id }) }}" target="_blank" class="col-md-3 col-xs-12 col-sm-12 btn-character-list show-color">
                                <i class="fa fa-search-plus"></i><br/> Voir
                            </a>

                            {% if app.user.id == character.user.id or is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('character_edit', { 'id': character.id }) }}" class="col-md-3 col-sm-12 col-xs-12 btn-character-list edit-color">
                                    <i class="fa fa-edit"></i><br/> Éditer
                                </a>

                                <a
                                        {#href="{{ path('character_delete', { 'id': character.id }) }}"#}
                                        class="col-md-5 col-sm-12 col-xs-12 btn-character-list delete-color">
                                    <i class="fa fa-trash"></i><br/> Supprimer
                                </a>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}

        {% if app.user.id == characters[0].user.id or is_granted('ROLE_ADMIN') %}
            {% if cptCharacter < 10 %}
                <div class="col-md-2 col-xs-12 add-character-list-box">
                    <a href="/character/new" class="add-character-list-link">
                        <div class="add-character-list">
                            Créer un personnage
                            <br/>
                            ({{ cptCharacter }}/10)
                            <br/>
                            <br/>
                            <div class="glyphicon glyphicon-plus-sign"></div>
                        </div>
                    </a>
                </div>
            {% else %}
                <div class="col-md-2 col-xs-12 add-character-list-box">
                    <div class="add-character-list-link">
                        <div class="add-character-list">
                            Nombre maximal de personnages atteint (10/10)
                            <br/><br/>
                            <div class="glyphicon glyphicon-warning-sign"></div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <!-- /page content -->
{% endblock %}

{% block stylesheets %}
    {#<style>#}

    {#</style>#}
{% endblock %}
