{% extends 'base-without-interface.html.twig' %}

{% block body %}
<div class="registration_zone">

    <div class="row">
        <!-- NOTHING -->
        <div class="col-2"></div>

        <!-- TITLE -->
        <div class="fosuser_logo_title_zone col-8">
            <div class="fosuser_logo_title_content">
                <div class="fosuser_title">Étape 2/2 : Création d'un personnage</div>
            </div>
        </div>

        <!-- NOTHING -->
        <div class="col-2">
        </div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6">

            <hr/>

            <h2 class="fosuser_h2 h2_required">
                Champs obligatoires :
            </h2>

            <form action="{{ path('character_new') }}" method="POST">
                <div class="form-group" id="fos_user_registration_form">

                    <div class="form-app-radio-input">
                        {{ form_widget(form.nickname, { 'attr': {'class': 'form-control', 'placeholder': 'Pseudo du personnage' } }) }}
                        <div class="alert-danger">{{ form_errors(form.nickname) }}</div>
                    </div>

                    <div class="form-app-radio-input">
                        {{ form_widget(form.level, { 'attr': {'class': 'form-control', 'placeholder': 'Niveau du personnage' } }) }}
                        <div class="alert-danger">{{ form_errors(form.level) }}</div>
                    </div>

                    {# TODO CONDTION IMAGES RACES BY SEXE VALUE - JS ? #}
                    <div class="form-app-radio-input">
                        <div class="form-register-checkbox-label-character">{{ form.sexe.vars.label }}</div>
                        {{ form_widget(form.sexe, { 'attr': {'class': 'form-control character-form-checkbox', 'placeholder': 'Sexe apparent ?' } }) }}
                        <div class="alert-danger">{{ form_errors(form.sexe) }}</div>
                    </div>

                    {# RACE #}
                    <div class="form-app-radio-input" id="form-app-race">
                        <div class="form-app-label">{{ form.race.vars.label }}</div>
                        {% for key, raceItem in form.race.children %}
                            {% if raceItem.vars.value == 1 %}
                                {% set race = "human" %}
                            {% elseif raceItem.vars.value == 2 %}
                                {% set race = "dwarf" %}
                            {% elseif raceItem.vars.value == 3 %}
                                {% set race = "elf" %}
                            {% elseif raceItem.vars.value == 4 %}
                                {% set race = "gnom" %}
                            {% elseif raceItem.vars.value == 5 %}
                                {% set race = "orc" %}
                            {% elseif raceItem.vars.value == 6 %}
                                {% set race = "troll" %}
                            {% elseif raceItem.vars.value == 7 %}
                                {% set race = "tauren" %}
                            {% else %}
                                {% set race = "undead" %}
                            {% endif %}

                            {{ form_widget(raceItem, { 'attr': {'class': 'app-form-radio-selector radio_item', 'id': raceItem.vars.value } }) }}
                            <label for="appbundle_nrcharacter_race_{{ raceItem.vars.value }}" class="label_item">
                                <img class="img-form" src="{{ asset('img/races/' ~ race ~ 'Icone.png') }}" title="{{ raceItem.vars.label }}" alt="{{ raceItem.vars.label }}">
                            </label>
                        {% endfor %}
                        <div class="alert-danger">{{ form_errors(form.race) }}</div>
                    </div>

                    {# CLASSE #}
                    <div class="form-app-radio-input" id="form-app-classe">
                        <div class="form-app-label">{{ form.class.vars.label }}</div>
                        {% for key, classItem in form.class.children %}
                            {% if classItem.vars.value == 1 %}
                                {% set classe = "warrior" %}
                            {% elseif classItem.vars.value == 2 %}
                                {% set classe = "rogue" %}
                            {% elseif classItem.vars.value == 3 %}
                                {% set classe = "mage" %}
                            {% elseif classItem.vars.value == 4 %}
                                {% set classe = "demoniste" %}
                            {% elseif classItem.vars.value == 5 %}
                                {% set classe = "priest" %}
                            {% elseif classItem.vars.value == 6 %}
                                {% set classe = "drood" %}
                            {% elseif classItem.vars.value == 7 %}
                                {% set classe = "hunt" %}
                            {% elseif classItem.vars.value == 8 %}
                                {% set classe = "paladin" %}
                            {% else %}
                                {% set classe = "chaman" %}
                            {% endif %}

                            {{ form_widget(classItem, { 'attr': {'class': 'app-form-radio-selector radio_item', 'id': classItem.vars.value } }) }}
                            <label for="appbundle_nrcharacter_class_{{ classItem.vars.value }}" class="label_item form-app">
                                <img class="img-form" src="{{ asset('img/classes/' ~ classe ~ 'Icone.png') }}" title="{{ classItem.vars.label }}" alt="{{ classItem.vars.label }}">
                            </label>
                        {% endfor %}
                        <div class="alert-danger">{{ form_errors(form.class) }}</div>
                    </div>

                    {# ROLE #}
                    <div class="form-app-radio-input" id="form-app-role">
                        <div class="form-app-label">{{ form.mainRole.vars.label }}</div>
                        {% for key, mainRoleItem in form.mainRole.children %}
                            {% if mainRoleItem.vars.value == 1 %}
                                {% set role = "tank" %}
                            {% elseif mainRoleItem.vars.value == 2 %}
                                {% set role = "heal" %}
                            {% else %}
                                {% set role = "dps" %}
                            {% endif %}

                            {{ form_widget(mainRoleItem, { 'attr': {'class': 'app-form-radio-selector radio_item', 'id': mainRoleItem.vars.value } }) }}
                            <label for="appbundle_nrcharacter_mainRole_{{ mainRoleItem.vars.value }}" class="label_item form-app">
                                {#{{ mainRoleItem.vars.label }}#}
                                <img class="img-form" src="{{ asset('img/roles/' ~ role ~ '.png') }}" title="{{ mainRoleItem.vars.label }}" alt="{{ mainRoleItem.vars.label }}">
                            </label>
                        {% endfor %}
                        <div class="alert-danger">{{ form_errors(form.mainRole) }}</div>
                    </div>

                    <hr/>

                    <h2 class="fosuser_h2 h2_optionnal">
                        Champs optionnels :
                    </h2>

                    {% if form.main is defined %}
                        <div class="form-app-radio-input">
                            <div class="form-register-checkbox-label-character">{{ form.main.vars.label }}</div>
                            {{ form_widget(form.main, { 'attr': {'class': 'form-control character-form-checkbox', 'placeholder': 'Personnage principal ?' } }) }}
                            <div class="alert-danger">{{ form_errors(form.main) }}</div>
                        </div>
                    {% endif %}

                    <div class="form-app-radio-input">
                        <label class="form-register-checkbox-label-character" for="appbundle_nrcharacter_background">[RP] Histoire du personnage :</label>
                        {{ form_widget(form.background, { 'attr': {'class': 'form-control', 'placeholder': '[RP] Histoire du personnage (sera publiée sur l\'écran d\'accueil de la guilde)' } }) }}
                        <div class="alert-danger">{{ form_errors(form.background) }}</div>
                    </div>

                    <div class="form-app-radio-input">
                        {{ form_widget(form.officialLink, { 'attr': {'class': 'form-control', 'placeholder': 'Lien vers l\'armurerie du personnage' } }) }}
                        <div class="alert-danger">{{ form_errors(form.officialLink) }}</div>
                    </div>

                    <div class="form-app-radio-input">
                        <div class="form-register-checkbox-label-character">{{ form.firstMainJob.vars.label }}</div>
                        <div class="row">
                            {{ form_widget(form.firstMainJob, { 'attr': {'class': 'form-control character-form-select col-md-6 col-sm-12', 'placeholder': 'Métier principal 1' } }) }}
                            <div class="alert-danger">{{ form_errors(form.firstMainJob) }}</div>

                            {{ form_widget(form.firstMainJobLevel, { 'attr': {'class': 'form-control character-form-select col-md-6 col-sm-12', 'placeholder': 'Niveau du métier' } }) }}
                            <div class="alert-danger ">{{ form_errors(form.firstMainJobLevel) }}</div>
                        </div>
                    </div>

                    <div class="form-app-radio-input">
                        <div class="form-register-checkbox-label-character">{{ form.secondMainJob.vars.label }}</div>
                        <div class="row">
                            {{ form_widget(form.secondMainJob, { 'attr': {'class': 'form-control character-form-select col-md-6 col-sm-12', 'placeholder': 'Métier principal 2' } }) }}
                            <div class="alert-danger">{{ form_errors(form.secondMainJob) }}</div>

                            {{ form_widget(form.secondMainJobLevel, { 'attr': {'class': 'form-control character-form-select col-md-6 col-sm-12', 'placeholder': 'Niveau du métier' } }) }}
                            <div class="alert-danger ">{{ form_errors(form.secondMainJobLevel) }}</div>
                        </div>
                    </div>

                    <div class="form-app-radio-input">
                        <div class="form-register-checkbox-label-character">{{ form.firstBonusJob.vars.label }}</div>
                        <div class="row">
                            {{ form_widget(form.firstBonusJob, { 'attr': {'class': 'form-control character-form-select col-md-6 col-sm-12', 'placeholder': 'Métier secondaire 1' } }) }}
                            <div class="alert-danger">{{ form_errors(form.firstBonusJob) }}</div>

                            {{ form_widget(form.firstBonusJobLevel, { 'attr': {'class': 'form-control character-form-select col-md-6 col-sm-12', 'placeholder': 'Niveau du métier' } }) }}
                            <div class="alert-danger ">{{ form_errors(form.firstBonusJobLevel) }}</div>
                        </div>
                    </div>

                    <div class="form-app-radio-input">
                        <div class="form-register-checkbox-label-character">{{ form.secondBonusJob.vars.label }}</div>
                        <div class="row">
                            {{ form_widget(form.secondBonusJob, { 'attr': {'class': 'form-control character-form-select col-md-6 col-sm-12', 'placeholder': 'Métier secondaire 2' } }) }}
                            <div class="alert-danger">{{ form_errors(form.secondBonusJob) }}</div>

                            {{ form_widget(form.secondBonusJobLevel, { 'attr': {'class': 'form-control character-form-select col-md-6 col-sm-12', 'placeholder': 'Niveau du métier' } }) }}
                            <div class="alert-danger ">{{ form_errors(form.secondBonusJobLevel) }}</div>
                        </div>
                    </div>

                    <div class="form-app-radio-input">
                        <div class="form-register-checkbox-label-character">{{ form.thirdBonusJob.vars.label }}</div>
                        <div class="row">
                            {{ form_widget(form.thirdBonusJob, { 'attr': {'class': 'form-control character-form-select col-md-6 col-sm-12', 'placeholder': 'Métier secondaire 3' } }) }}
                            <div class="alert-danger">{{ form_errors(form.thirdBonusJob) }}</div>

                            {{ form_widget(form.thirdBonusJobLevel, { 'attr': {'class': 'form-control character-form-select col-md-6 col-sm-12', 'placeholder': 'Niveau du métier' } }) }}
                            <div class="alert-danger ">{{ form_errors(form.thirdBonusJobLevel) }}</div>
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('newCharacter') }}">

                    {{ form_rest(form) }}

                    <div>
                        <input style="margin-top: 4px;" class="btn btn-lg btn-perso btn-block" type="submit" value="Créer le personnage"
                               onClick="this.disabled=true; this.value='Création en cours…'; this.form.submit();">
                    </div>

                </div>

            </form>
        </div>

        <div class="col-md-3"></div>
    </div>

</div>
{% endblock %}