{% extends 'base.html.twig' %}

{% block title %}
    Personnage - Détail
{% endblock %}

{% block body %}

    {% if nrCharacter.sexe == true %}
        {% set sexe = 1 %}
    {% else %}
        {% set sexe = 0 %}
    {% endif %}

    {# GET CHARACTER RACE FOR IMAGE #}
    {% if nrCharacter.sexe == true %}
        {% if nrCharacter.race.id == 1 %}
            {% set race = "human" %}
            {% set racefr = "Humain" %}
        {% elseif nrCharacter.race.id == 2 %}
            {% set race = "dwarf" %}
            {% set racefr = "Nain" %}
        {% elseif nrCharacter.race.id == 3 %}
            {% set race = "elf" %}
            {% set racefr = "Elfe" %}
        {% else %}
            {% set race = "gnom" %}
            {% set racefr = "Gnome" %}
            {#{% elseif character.race.id == 5 %}#}
            {#{% set race = "orc" %}#}
            {#{% elseif character.race.id == 6 %}#}
            {#{% set race = "troll" %}#}
            {#{% elseif character.race.id == 7 %}#}
            {#{% set race = "tauren" %}#}
            {#{% else %}#}
            {#{% set race = "undead" %}#}
        {% endif %}
    {% else %}
        {% if nrCharacter.race.id == 1 %}
            {% set race = "humanette" %}
            {% set racefr = "Humaine" %}
        {% elseif nrCharacter.race.id == 2 %}
            {% set race = "dwarfette" %}
            {% set racefr = "Naine" %}
        {% elseif nrCharacter.race.id == 3 %}
            {% set race = "elfette" %}
            {% set racefr = "Elfe" %}
        {% else %}
            {% set race = "gnomette" %}
            {% set racefr = "Gnome" %}
        {% endif %}
    {% endif %}

    {# GET CHARACTER CLASS FOR IMAGE #}
    {% if nrCharacter.class.id == 1 %}
        {% set classe = "warrior" %}
        {% set classefr = "Guerrier" %}
    {% elseif nrCharacter.class.id == 2 %}
        {% set classe = "rogue" %}
        {% set classefr = "Voleur" %}
    {% elseif nrCharacter.class.id == 3 %}
        {% set classe = "mage" %}
        {% set classefr = "Mage" %}
    {% elseif nrCharacter.class.id == 4 %}
        {% set classe = "demoniste" %}
        {% set classefr = "Démoniste" %}
    {% elseif nrCharacter.class.id == 5 %}
        {% set classe = "priest" %}
        {% set classefr = "Prêtre" %}
    {% elseif nrCharacter.class.id == 6 %}
        {% set classe = "drood" %}
        {% set classefr = "Druide" %}
    {% elseif nrCharacter.class.id == 7 %}
        {% set classe = "hunt" %}
        {% set classefr = "Chasseur" %}
    {% else %}
        {% set classe = "paladin" %}
        {% set classefr = "Paladin" %}
        {#{% else %}#}
        {#{% set classe = "chaman" %}#}
        {#{% set classefr = "chaman" %}#}
    {% endif %}

    {# GET CHARACTER ROLE #}
    {% if nrCharacter.mainRole.id == 1 %}
        {% set role = "tank" %}
        {% set rolefr = "Tank" %}
    {% elseif nrCharacter.mainRole.id == 2 %}
        {% set role = "heal" %}
        {% set rolefr = "Soigneur" %}
    {% else %}
        {% set role = "dps" %}
        {% set rolefr = "Dps" %}
    {% endif %}

    {#{{ dump(nrCharacter.sexe) }}#}
    {#{{ dump(nrCharacter.class.id) }}#}
    {#{{ dump(nrCharacter.race.id) }}#}

    <div class="character-detail">
        {#<div class="page-title">#}
            {#<div class="title_left">#}
                {#<h3>User Profile</h3>#}
            {#</div>#}

            {#<div class="title_right">#}
                {#<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">#}
                    {#<div class="input-group">#}
                        {#<input type="text" class="form-control" placeholder="Search for...">#}
                        {#<span class="input-group-btn">#}
                      {#<button class="btn btn-default" type="button">Go!</button>#}
                    {#</span>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                            <div class="profile_img row">

                                <div id="crop-avatar" style="text-align: center;">
                                    <!-- Current avatar -->
                                    <img class=""
                                         src="{{ asset(img) }}"
                                         alt="Avatar" title="avatar-{{ nrCharacter.nickname }}"
                                        width="128" height="128">
                                </div>
                            </div>

                            <h3 style="text-align:center;">{% if nrCharacter.main == true %}
                                    ☆
                                {% endif %}
                                <strong>{{ nrCharacter.nickname }} </strong>(nv.{{ nrCharacter.level }})
                                {% if nrCharacter.main == true %}
                                    ☆
                                {% endif %}</h3>
                            <hr/>

                            <ul class="list-unstyled user_data">
                                <li> <img src="{{ asset('img/classes/' ~ classe ~ 'Icone.png') }}" alt="{{ classe }}" class="round-logo-character-detail">
                                    <strong>Classe :</strong> {{ classefr }}
                                </li><br/>

                                <li>
                                    <img src="{{ asset('img/races/' ~ race ~ 'Icone.png') }}" alt="{{ race }}" class="round-logo-character-detail">
                                    <strong>Race :</strong> {{ racefr }}
                                </li><br/>

                                <li>
                                    <img src="{{ asset('img/roles/' ~ role ~ '.png') }}" alt="{{ role }}" title="{{ role }}" class="round-logo-character-detail">
                                    <strong>Rôle préféré :</strong> {{ rolefr }}
                                </li>

                                {% if nrCharacter.officialLink != null %}
                                    <br/>
                                <li class="m-top-xs">
                                    <i class="fa fa-external-link user-profile-icon"></i>
                                    <a href="{{ nrCharacter.officialLink }}" target="_blank"><strong>Lien vers l'armurerie</strong></a>
                                </li>
                                {% endif %}
                            </ul>

                            {% if app.user.id == nrCharacter.user.id or is_granted('ROLE_ADMIN') %}
                                <hr/>

                                <a href="{{ path('character_edit', { 'id': nrCharacter.id }) }}" class="btn btn-success">
                                    <i class="fa fa-edit"></i> Modifier le personnage
                                </a>

                                <a
                                   {#href="{{ path('character_delete', { 'id': nrCharacter.id }) }}"#}
                                   class="btn btn-danger not-allowed">
                                    <i class="fa fa-trash"></i> Supprimer le personnage
                                </a>
                            {% endif %}


                            <hr/>

                            <!-- start skills -->
                            <h3 style="text-decoration: underline;">Métiers</h3>
                            {% if  nrCharacter.firstMainJob != null or
                                nrCharacter.secondMainJob != null or
                                nrCharacter.firstBonusJob != null or
                                nrCharacter.secondBonusJob != null or
                                nrCharacter.thirdBonusJob != null
                            %}
                                <ul class="list-unstyled user_data">
                                    {# MAIN JOB #}
                                    {% if  nrCharacter.firstMainJob != null or nrCharacter.secondMainJob != null %}
                                        <h4><i class="fa fa-gavel"></i> Métiers principaux</h4>

                                        {# first main job #}
                                        {% if nrCharacter.firstMainJob != null %}

                                            {% set widthMainJobLevel = 1 %}

                                            {% if nrCharacter.firstMainJobLevel != 1 %}
                                                {% set widthMainJobLevel = nrCharacter.firstMainJobLevel / 3 %}
                                            {% endif %}

                                            {% if nrCharacter.firstMainJobLevel == 300 %}
                                                {% set colorMainJob = 'success' %}
                                            {% elseif nrCharacter.firstMainJobLevel > 200 %}
                                                {% set colorMainJob = 'info' %}
                                            {% elseif nrCharacter.firstMainJobLevel > 100 %}
                                                {% set colorMainJob = 'warning' %}
                                            {% else %}
                                                {% set colorMainJob = 'danger' %}
                                            {% endif %}

                                            <li>
                                                <p>{{ nrCharacter.firstMainJob }} ({{ nrCharacter.firstMainJobLevel }} / 300)</p>
                                                <div class="progress ">
                                                    <div class="progress-bar progress-bar-{{ colorMainJob }}" role="progressbar" data-transitiongoal="{{ widthMainJobLevel }}"
                                                         style="width:{{ widthMainJobLevel }}%;"></div>
                                                </div>
                                            </li>
                                        {% endif %}

                                        {# second main job #}
                                        {% if nrCharacter.secondMainJob != null %}

                                            {% set widthSecondJobLevel = 1 %}

                                            {% if nrCharacter.secondMainJobLevel != 1 %}
                                                {% set widthSecondJobLevel = nrCharacter.secondMainJobLevel / 3 %}
                                            {% endif %}

                                            {% if nrCharacter.secondMainJobLevel == 300 %}
                                                {% set colorSecondJob = 'success' %}
                                            {% elseif nrCharacter.secondMainJobLevel >= 200 %}
                                                {% set colorSecondJob = 'info' %}
                                            {% elseif nrCharacter.secondMainJobLevel >= 100 %}
                                                {% set colorSecondJob = 'warning' %}
                                            {% else %}
                                                {% set colorSecondJob = 'danger' %}
                                            {% endif %}

                                            <li>
                                                <p>{{ nrCharacter.secondMainJob }} ({{ nrCharacter.secondMainJobLevel }} / 300)</p>
                                                <div class="progress ">
                                                    <div class="progress-bar progress-bar-{{ colorMainJob }}" role="progressbar" data-transitiongoal="{{ widthSecondJobLevel }}" style="width:{{ widthSecondJobLevel }}%;"></div>
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endif %}

                                    {# BONUS JOB #}
                                    {% if nrCharacter.firstBonusJob != null or nrCharacter.secondBonusJob != null or nrCharacter.thirdBonusJob != null %}
                                        <h4><i class="fa fa-support"></i> Métiers secondaires</h4>

                                        {# first bonus job #}
                                        {% if nrCharacter.firstBonusJob != null %}

                                            {% set widthMainBonusLevel = 1 %}

                                            {% if nrCharacter.firstBonusJobLevel != 1 %}
                                                {% set widthMainBonusLevel = nrCharacter.firstBonusJobLevel / 3 %}
                                            {% endif %}

                                            {% if nrCharacter.firstBonusJobLevel == 300 %}
                                                {% set colorMainBonusJob = 'success' %}
                                            {% elseif nrCharacter.firstBonusJobLevel >= 200 %}
                                                {% set colorMainBonusJob = 'info' %}
                                            {% elseif nrCharacter.firstBonusJobLevel >= 100 %}
                                                {% set colorMainBonusJob = 'warning' %}
                                            {% else %}
                                                {% set colorMainBonusJob = 'danger' %}
                                            {% endif %}

                                            <li>
                                                <p>{{ nrCharacter.firstBonusJob }} ({{ nrCharacter.firstBonusJobLevel }} / 300)</p>
                                                <div class="progress ">
                                                    <div class="progress-bar progress-bar-{{ colorMainBonusJob }}" role="progressbar" data-transitiongoal="{{ widthMainBonusLevel }}" style="width:{{ widthMainBonusLevel }}%;"></div>
                                                </div>
                                            </li>
                                        {% endif %}

                                        {# second bonus job #}
                                        {% if nrCharacter.secondBonusJob != null %}

                                            {% set widthSecondBonusLevel = 1 %}

                                            {% if nrCharacter.secondBonusJobLevel != 1 %}
                                                {% set widthSecondBonusLevel = nrCharacter.secondBonusJobLevel / 3 %}
                                            {% endif %}

                                            {% if nrCharacter.secondBonusJobLevel == 300 %}
                                                {% set colorSecondBonusJob = 'green' %}
                                            {% elseif nrCharacter.secondBonusJobLevel >= 200 %}
                                                {% set colorSecondBonusJob = 'blue' %}
                                            {% elseif nrCharacter.secondBonusJobLevel >= 100 %}
                                                {% set colorSecondBonusJob = 'orange' %}
                                            {% else %}
                                                {% set colorSecondBonusJob = 'red' %}
                                            {% endif %}

                                            <li>
                                                <p>{{ nrCharacter.secondBonusJob }} ({{ nrCharacter.secondBonusJobLevel }} / 300)</p>
                                                <div class="progress ">
                                                    <div class="progress-bar bg-{{ colorSecondBonusJob }}" role="progressbar" data-transitiongoal="{{ widthSecondBonusLevel }}" style="width:{{ widthSecondBonusLevel }}%;"></div>
                                                </div>
                                            </li>
                                        {% endif %}

                                        {# third bonus job #}
                                        {% if nrCharacter.thirdBonusJob != null %}

                                            {% set widthThirdBonusJobLevel = 1 %}

                                            {% if nrCharacter.thirdBonusJobLevel != 1 %}
                                                {% set widthThirdBonusJobLevel = nrCharacter.thirdBonusJobLevel / 3 %}
                                            {% endif %}

                                            {% if nrCharacter.thirdBonusJobLevel == 300 %}
                                                {% set widthThirdJobLevel = 'green' %}
                                            {% elseif nrCharacter.thirdBonusJobLevel > 200 %}
                                                {% set widthThirdJobLevel = 'blue' %}
                                            {% elseif nrCharacter.thirdBonusJobLevel > 100 %}
                                                {% set widthThirdJobLevel = 'orange' %}
                                            {% else %}
                                                {% set widthThirdJobLevel = 'red' %}
                                            {% endif %}

                                            <li>
                                                <p>{{ nrCharacter.thirdBonusJob }} ({{ nrCharacter.thirdBonusJobLevel }} / 300)</p>
                                                <div class="progress ">
                                                    <div class="progress-bar bg-{{ colorMainJob }}" role="progressbar" data-transitiongoal="{{ widthThirdBonusJobLevel }}" style="width:{{ widthThirdBonusJobLevel }}%;"></div>
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endif %}

                                </ul>
                                <!-- end of skills -->
                            {% else %}
                                <div style="text-align: center;">
                                    <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span><br> Sans emploi, c'est la crise ...
                                </div>
                            {% endif %}


                        </div>

                        <div class="col-md-9 col-sm-9 col-xs-12 background_right">
                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                    {#<li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Recent Activity</a>#}
                                    {#</li>#}
                                    {#<li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Projects Worked on</a>#}
                                    {#</li>#}
                                    <li role="presentation" class="active"><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Background</a>
                                    </li>
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    {#<div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">#}

                                        {#<!-- start recent activity -->#}
                                        {#<ul class="messages">#}
                                            {#<li>#}
                                                {#<img src="images/img.jpg" class="avatar" alt="Avatar">#}
                                                {#<div class="message_date">#}
                                                    {#<h3 class="date text-info">24</h3>#}
                                                    {#<p class="month">May</p>#}
                                                {#</div>#}
                                                {#<div class="message_wrapper">#}
                                                    {#<h4 class="heading">Desmond Davison</h4>#}
                                                    {#<blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>#}
                                                    {#<br />#}
                                                    {#<p class="url">#}
                                                        {#<span class="fs1 text-info" aria-hidden="true" data-icon=""></span>#}
                                                        {#<a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>#}
                                                    {#</p>#}
                                                {#</div>#}
                                            {#</li>#}
                                            {#<li>#}
                                                {#<img src="images/img.jpg" class="avatar" alt="Avatar">#}
                                                {#<div class="message_date">#}
                                                    {#<h3 class="date text-error">21</h3>#}
                                                    {#<p class="month">May</p>#}
                                                {#</div>#}
                                                {#<div class="message_wrapper">#}
                                                    {#<h4 class="heading">Brian Michaels</h4>#}
                                                    {#<blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>#}
                                                    {#<br />#}
                                                    {#<p class="url">#}
                                                        {#<span class="fs1" aria-hidden="true" data-icon=""></span>#}
                                                        {#<a href="#" data-original-title="">Download</a>#}
                                                    {#</p>#}
                                                {#</div>#}
                                            {#</li>#}
                                            {#<li>#}
                                                {#<img src="images/img.jpg" class="avatar" alt="Avatar">#}
                                                {#<div class="message_date">#}
                                                    {#<h3 class="date text-info">24</h3>#}
                                                    {#<p class="month">May</p>#}
                                                {#</div>#}
                                                {#<div class="message_wrapper">#}
                                                    {#<h4 class="heading">Desmond Davison</h4>#}
                                                    {#<blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>#}
                                                    {#<br />#}
                                                    {#<p class="url">#}
                                                        {#<span class="fs1 text-info" aria-hidden="true" data-icon=""></span>#}
                                                        {#<a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>#}
                                                    {#</p>#}
                                                {#</div>#}
                                            {#</li>#}
                                            {#<li>#}
                                                {#<img src="images/img.jpg" class="avatar" alt="Avatar">#}
                                                {#<div class="message_date">#}
                                                    {#<h3 class="date text-error">21</h3>#}
                                                    {#<p class="month">May</p>#}
                                                {#</div>#}
                                                {#<div class="message_wrapper">#}
                                                    {#<h4 class="heading">Brian Michaels</h4>#}
                                                    {#<blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>#}
                                                    {#<br />#}
                                                    {#<p class="url">#}
                                                        {#<span class="fs1" aria-hidden="true" data-icon=""></span>#}
                                                        {#<a href="#" data-original-title="">Download</a>#}
                                                    {#</p>#}
                                                {#</div>#}
                                            {#</li>#}

                                        {#</ul>#}
                                        {#<!-- end recent activity -->#}

                                    {#</div>#}
                                    {#<div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">#}

                                        {#<!-- start user projects -->#}
                                        {#<table class="data table table-striped no-margin">#}
                                            {#<thead>#}
                                            {#<tr>#}
                                                {#<th>#</th>#}
                                                {#<th>Project Name</th>#}
                                                {#<th>Client Company</th>#}
                                                {#<th class="hidden-phone">Hours Spent</th>#}
                                                {#<th>Contribution</th>#}
                                            {#</tr>#}
                                            {#</thead>#}
                                            {#<tbody>#}
                                            {#<tr>#}
                                                {#<td>1</td>#}
                                                {#<td>New Company Takeover Review</td>#}
                                                {#<td>Deveint Inc</td>#}
                                                {#<td class="hidden-phone">18</td>#}
                                                {#<td class="vertical-align-mid">#}
                                                    {#<div class="progress">#}
                                                        {#<div class="progress-bar progress-bar-success" data-transitiongoal="35"></div>#}
                                                    {#</div>#}
                                                {#</td>#}
                                            {#</tr>#}
                                            {#<tr>#}
                                                {#<td>2</td>#}
                                                {#<td>New Partner Contracts Consultanci</td>#}
                                                {#<td>Deveint Inc</td>#}
                                                {#<td class="hidden-phone">13</td>#}
                                                {#<td class="vertical-align-mid">#}
                                                    {#<div class="progress">#}
                                                        {#<div class="progress-bar progress-bar-danger" data-transitiongoal="15"></div>#}
                                                    {#</div>#}
                                                {#</td>#}
                                            {#</tr>#}
                                            {#<tr>#}
                                                {#<td>3</td>#}
                                                {#<td>Partners and Inverstors report</td>#}
                                                {#<td>Deveint Inc</td>#}
                                                {#<td class="hidden-phone">30</td>#}
                                                {#<td class="vertical-align-mid">#}
                                                    {#<div class="progress">#}
                                                        {#<div class="progress-bar progress-bar-success" data-transitiongoal="45"></div>#}
                                                    {#</div>#}
                                                {#</td>#}
                                            {#</tr>#}
                                            {#<tr>#}
                                                {#<td>4</td>#}
                                                {#<td>New Company Takeover Review</td>#}
                                                {#<td>Deveint Inc</td>#}
                                                {#<td class="hidden-phone">28</td>#}
                                                {#<td class="vertical-align-mid">#}
                                                    {#<div class="progress">#}
                                                        {#<div class="progress-bar progress-bar-success" data-transitiongoal="75"></div>#}
                                                    {#</div>#}
                                                {#</td>#}
                                            {#</tr>#}
                                            {#</tbody>#}
                                        {#</table>#}
                                        {#<!-- end user projects -->#}

                                    {#</div>#}
                                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content3" aria-labelledby="profile-tab">
                                    {% if nrCharacter.background != null %}
                                        {{ nrCharacter.background | raw }}
                                    {% else %}
                                        L'histoire de ce personnage n'a pas encore été écrite.
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
