<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}It's Ma Life!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/materialize.css') }}" rel="stylesheet"/>
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
            <link href="{{ asset('datetimepicker-master/jquery.datetimepicker.css') }}" rel="stylesheet"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        {% block nav %}
            <!-- Sidebar/menu -->
            <nav class="w3-sidebar w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold; background-color: #EE6E73; padding: 0px!important;" id="mySidebar"><br>
                <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
                <div class="w3-container">
                    <h3 class="w3-padding-64"><b>Ma Life</b></h3>
                </div>
                <div class="w3-bar-block">
                    <a href="/event" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Liste des évènements</a>
                    <a href="/event/new" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Proposer un évènement</a>
                    <a href="/logout" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Se déconnecter</a>
                </div>
            </nav>
        {% endblock %}
        {% block header %}
            <!-- Top menu on small screens -->
            <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
                <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
                <span>MaLife</span>
            </header>
            <!-- Overlay effect when opening sidebar on small screens -->
                <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
            <div class="w3-main" style="margin-left:340px;margin-right:40px">
        {% endblock %}

                <style type="text/css">
                    .closeFlash {
                        border-radius: 20px;
                        transition: all ease 0.4s;
                    }
                    .closeFlash:hover {
                        border: 2px solid white;
                        cursor: pointer;
                        transition: all ease 0.4s;
                    }
                    .bgred {
                        background-color: #EE6E73;
                    }
                    .bgreen {
                        background-color: #26a69a;
                    }
                </style>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="card-panel white-text {{ label }}">
                    <i class="material-icons right closeFlash" id="">close</i>
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}

        {% endblock %}
        {% block footer %}
            </div>
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('datetimepicker-master/build/jquery.datetimepicker.full.min.js') }}"></script>
            <script>
                jQuery.datetimepicker.setLocale('fr');
                $('.datepicker').datetimepicker({});

                $(document).ready(function() { $('select').material_select(); });
                $('.closeFlash').click(function() {
                	$(this).parent().hide('slow');
                });

            </script>
        {% endblock %}
    </body>
</html>
