<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    {#{% block stylesheets %}#}

    {#APP CSS#}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}" />
    {#LAPTOP CSS#}
    <link rel="stylesheet" media="screen and (min-device-width: 700px)" href="{{ asset('css/app-laptop.css') }}" />
    {#MOBILE CSS#}
    <link rel="stylesheet" media="screen and (max-device-width: 699px)" href="{{ asset('css/app-mobile.css') }}" />

        <!-- Bootstrap -->
        <link href="{{ asset('gantella-theme/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="{{ asset('gantella-theme/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        {#<!-- NProgress -->#}
        {#<link href="{{ asset('gantella-theme/vendors/nprogress/nprogress.css') }}" rel="stylesheet">#}
        <!-- bootstrap-daterangepicker -->
        <link href="{{ asset('gantella-theme/vendors/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">
        <!-- Custom Theme Style -->
        <link href="{{ asset('gantella-theme/build/css/custom.min.css') }}" rel="stylesheet">
    {#{% endblock %}#}

</head>

{# GET MAIN CHARACTER IMG PATH #}
{{ render(controller(
    'AppBundle:NrCharacter:getUserMainCharacter'
)) }}

{% set imgPath = app.session.get('main-character') %}

<body class="nav-sm">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col menu_fixed">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/" class="site_title"><img width="40" height="40" src="{{ asset("img/logo1.png") }}" /> <span class="main-title">Lost Armada</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        Espace maj persos
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            {#<h3>General</h3>#}
                            <ul class="nav side-menu">

                                {# --- ADMINISTRATION --- #}
                                {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="/administration">
                                        <i class="fa fa-bank"></i>
                                        Administration
                                    </a>
                                </li>
                                {% endif %}

                                <li>
                                    <a href="/">
                                        <i class="fa fa-home"></i>
                                        Q.G
                                        {#<span class="fa fa-chevron-down"></span>#}
                                    </a>
                                    {#<ul class="nav child_menu">#}
                                        {#<li><a href="/guild-dashboard">Tableau de bord - Guilde</a></li>#}
                                        {#<li><a class="elem-disabled">Tableau de bord - Alliance</a></li>#}
                                        {#<li><a class="elem-disabled">Tableau de bord - Personnel</a></li>#}
                                    {#</ul>#}
                                </li>

                                <li>
                                    <a href="/events">
                                        <i class="fa fa-gamepad"></i>
                                        Événements
                                    </a>
                                </li>

                                {#<li>#}
                                    {#<a href="/server-buff">#}
                                        {#<i class="fa fa-calendar"></i>#}
                                        {#Calendrier des buff#}
                                    {#</a>#}
                                {#</li>#}

                                {#<li>#}
                                    {#<a href="/jobs">#}
                                        {#<i class="fa fa-gavel"></i>#}
                                        {#Espace métiers#}
                                    {#</a>#}
                                {#</li>#}

                                <li>
                                    <a href="/stats">
                                        <i class="fa fa-bar-chart"></i>
                                        Statistiques de guilde
                                    </a>
                                </li>




                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->

                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Gestion du compte">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen" onclick="toggleFullScreen()" id="fullscreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        {#<a data-toggle="tooltip" data-placement="top" title="Lock">#}
                            {#<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>#}
                        {#</a>#}
                        <a data-toggle="tooltip" data-placement="top" title="Déconnexion" href="/logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="{{ asset(imgPath['img-main-path']) }}" alt="">
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        {{ app.user.username }}
                                    {% endif %}
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="/profile/edit"><i class="fa fa-edit "></i> Modifier mon profil</a></li>
                                    <li><a href="/character/my-list"><i class="fa fa-github-alt"></i> Mes personnages</a></li>
                                    {#<li><a href="javascript:;">Help</a></li>#}
                                    <li><a href="/logout"><i class="fa fa-sign-out"></i> Déconnexion</a></li>
                                </ul>
                            </li>

                            {#<li role="presentation" class="dropdown">#}
                                {#<a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">#}
                                    {#<i class="fa fa-envelope-o"></i>#}
                                    {#<span class="badge bg-green">6</span>#}
                                {#</a>#}
                                {#<ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">#}
                                    {#<li>#}
                                        {#<a>#}
                                            {#<span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>#}
                                            {#<span>#}
                              {#<span>John Smith</span>#}
                              {#<span class="time">3 mins ago</span>#}
                            {#</span>#}
                                            {#<span class="message">#}
                              {#Film festivals used to be do-or-die moments for movie makers. They were where...#}
                            {#</span>#}
                                        {#</a>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<a>#}
                                            {#<span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>#}
                                            {#<span>#}
                              {#<span>John Smith</span>#}
                              {#<span class="time">3 mins ago</span>#}
                            {#</span>#}
                                            {#<span class="message">#}
                              {#Film festivals used to be do-or-die moments for movie makers. They were where...#}
                            {#</span>#}
                                        {#</a>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<a>#}
                                            {#<span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>#}
                                            {#<span>#}
                              {#<span>John Smith</span>#}
                              {#<span class="time">3 mins ago</span>#}
                            {#</span>#}
                                            {#<span class="message">#}
                              {#Film festivals used to be do-or-die moments for movie makers. They were where...#}
                            {#</span>#}
                                        {#</a>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<a>#}
                                            {#<span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>#}
                                            {#<span>#}
                              {#<span>John Smith</span>#}
                              {#<span class="time">3 mins ago</span>#}
                            {#</span>#}
                                            {#<span class="message">#}
                              {#Film festivals used to be do-or-die moments for movie makers. They were where...#}
                            {#</span>#}
                                        {#</a>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<div class="text-center">#}
                                            {#<a>#}
                                                {#<strong>See All Alerts</strong>#}
                                                {#<i class="fa fa-angle-right"></i>#}
                                            {#</a>#}
                                        {#</div>#}
                                    {#</li>#}
                                {#</ul>#}
                            {#</li>#}
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div>
                    {% for label, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            <div class="alert alert-{{ label }}">
                                {{ flash }}
                                <a class="close-link" style="float: right!important;"><i class="fa fa-close"></i></a>
                            </div>
                        {% endfor %}
                    {% endfor %}
            {% block body %}{% endblock %}
                </div>
            </div>

        </div>
    </div>
</body>

{% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('gantella-theme/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('gantella-theme/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('gantella-theme/vendors/fastclick/lib/fastclick.js') }}"></script>
    {#<!-- NProgress -->#}
    {#<script src="{{ asset('gantella-theme/vendors/nprogress/nprogress.js') }}"></script>#}
    {#<!-- Chart.js -->#}
    {#<script src="{{ asset('gantella-theme/vendors/Chart.js/dist/Chart.min.js') }}"></script>#}
    <!-- jQuery Sparklines -->
    {#<script src="{{ asset('gantella-theme/vendors/jquery-sparkline/dist/jquery.sparkline.min.js') }}"></script>#}
    {#<!-- Flot -->#}
    {#<script src="{{ asset('gantella-theme/vendors/Flot/jquery.flot.js') }}"></script>#}
    {#<script src="{{ asset('gantella-theme/vendors/Flot/jquery.flot.pie.jss') }}"></script>#}
    {#<script src="{{ asset('gantella-theme/vendors/Flot/jquery.flot.time.js') }}"></script>#}
    {#<script src="{{ asset('gantella-theme/vendors/Flot/jquery.flot.stack.js') }}"></script>#}
    {#<script src="{{ asset('gantella-theme/vendors/Flot/jquery.flot.resize.js') }}"></script>#}
    {#<!-- Flot plugins -->#}
    {#<script src="{{ asset('gantella-theme/vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>#}
    {#<script src="{{ asset('gantella-theme/vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>#}
    {#<script src="{{ asset('gantella-theme/vendors/flot.curvedlines/curvedLines.js') }}"></script>#}
    <!-- DateJS -->
    <script src="{{ asset('gantella-theme/vendors/DateJS/build/date.js') }}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{ asset('gantella-theme/vendors/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('gantella-theme/vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{ asset('gantella-theme/build/js/custom.min.js') }}"></script>

    <script>
        //SURBRILLANCE SELECTION IMAGES FORM
        $('#form-app-role img.img-form').click(function(){
            $('.selected-role').removeClass('selected-role');
            $(this).addClass('selected-role');
        });

        $('#form-app-classe img.img-form').click(function(){
            $('.selected-classe').removeClass('selected-classe');
            $(this).addClass('selected-classe');
        });

        $('#form-app-race img.img-form').click(function(){
            $('.selected-race').removeClass('selected-race');
            $(this).addClass('selected-race');
        });

        $('#form-app-character .app-form-subscription-character').click(function(){
            $('.selected-character').removeClass('selected-character');
            $(this).addClass('selected-character');
        });

        //BOUTONS CLIQUABLES UNE SEULE FOIS

        $('.clickOnceButton').click(function() {
            $(this).css('pointer-events', 'none');
        });

        // FULLSCREEN BUTTON
        function toggleFullScreen() {
            if ((document.fullScreenElement && document.fullScreenElement !== null) ||
                (!document.mozFullScreen && !document.webkitIsFullScreen)) {
                if (document.documentElement.requestFullScreen) {
                    document.documentElement.requestFullScreen();
                } else if (document.documentElement.mozRequestFullScreen) {
                    document.documentElement.mozRequestFullScreen();
                } else if (document.documentElement.webkitRequestFullScreen) {
                    document.documentElement.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
                }
            } else {
                if (document.cancelFullScreen) {
                    document.cancelFullScreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.webkitCancelFullScreen) {
                    document.webkitCancelFullScreen();
                }
            }
        }

        //ALERT CLOSE CROSS
        $('.close-link').click(function () {
            var $alert = $(this).closest('.alert');
            $alert.remove();
        });
    </script>
{% endblock %}

<!-- footer content -->
<footer>
    <div class="pull-right">
        Developed with ❤ by Reset - Template by <a href="https://colorlib.com">Colorlib</a>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->

</html>