<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap-grid.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/full.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/fosuser.css') }}" />
        {#<link rel="stylesheet" media="screen and (min-device-width: 700px)" href="{{ asset('css/fosuser_laptop.css') }}" />#}
        <link rel="stylesheet" media="screen and (max-device-width: 699px)" href="{{ asset('css/fosuser_mobile.css') }}" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}{% endblock %}



{% block javascripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script>
        //DATEPICKER FORM
        // jQuery.datetimepicker.setLocale('fr');
        // $('.datepicker').datetimepicker({});

        //SURBRILLANCE SELECTION IMAGES FORM
        $('#form-app-role img.img-form').click(function(){
            $('.selected-role').removeClass('selected-role');
            $(this).addClass('selected-role');
        });

        $('#form-app-classe img.img-form').click(function(){
            $('.selected-classe').removeClass('selected-classe');
            $(this).addClass('selected-classe');
        });

        $('#form-app-race img.img-form').click(function(){
            $('.selected-race').removeClass('selected-race');
            $(this).addClass('selected-race');
        });

        $('#form-app-character .app-form-subscription-character').click(function(){
            $('.selected-character').removeClass('selected-character');
            $(this).addClass('selected-character');
        });

        //BOUTONS CLIQUABLES UNE SEULE FOIS

        $('.clickOnceButton').click(function() {
            $(this).css('pointer-events', 'none');
        });

    </script>
{% endblock %}
</body>
</html>
