/* Website Template by freewebsitetemplates.com */
/* AJOUT 25/04/2018 - Evenements */
#body.event > div{
	height: 100%;
}

/* AJOUT 24/10/2017 - Responsive Démos */

.bloc_provisoir_musique ul{
	display: block;
}

.bloc_provisoir_musique li{
	width: inherit;
}


/* AJOUT 08/10/2017 - Présentation groupe */
.membresGroupe p{
	width: 60%!important;
	margin-top: -20px;
	margin-bottom: 20p
}

#denis{
	margin-left: inherit;
}

/* AJOUT 24/07/2017 - Site static - Iframe vidéos */
.video-wrapper {
    margin-left: 0%!important;
}

/* AJOUT 08/05/2017 */
a.coordonnees_bouton_provisoir{
    margin-left: 25%;
}
.bloc_provisoir_musique {
	height: 100%;
}
div.bloc_provisoir_contact {
    height: 250px;
}
div.bloc_provisoir_contact .bloc_coordonnees {
	margin: 15px 0 15px;
    padding: 50px;
    margin-left:0!important;
}
#body #featured img {
    min-width: 610px!important;
}
#footer > div > p > span.all_rights_reserved{
    display: inherit;
}
#footer > div > ul > li{
	margin-left: 43%;
}
#featured #facebook{
	    margin-top: 10px;
}

#titre_bailao_logo > p {
    float: left!important;
    margin-top: 6%!important;
    margin-left: 15%!important;
    width: 50%!important;
    padding: inherit!important;
}
#header a.logo img {
    width: 20%!important;
}
/********************/

body {
	min-width: 0;
}
#header {
	padding: 20px 0;
	position: relative;
	width: 100%;
}
#header a.logo {
	width: 100%;
}
#header a.logo img {
	width: 100%;
	padding-left: 5%;
}
#mobile-navigation {
	background: url(../images/mobile-menu.png) no-repeat 0 0;
	display: block;
	height: 50px;
	margin: 30px auto 0;
	padding: 0;
	width: 50px;
}
#header ul {
	border: 1px solid #fff;
	display: none;
	left: 50%;
	margin-left: -45%;
	padding: 0;
	position: absolute;
	width: 90%;
	z-index: 1001;
}
#header ul li {
	border-top: 1px solid #fff;
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
}
#header > ul > li:first-child {
	border: 0;
}
#header ul li a {
	background: orange;
	color: #fff;
	display: block;
	font-family: leckerli_oneregular, sans-serif;
	font-size: 16px;
	font-weight: normal;
	height: 49px;
	line-height: 49px;
	padding: 0 15px;
	ttext-align: center;
}
#header ul li a:hover, #header ul li.selected a {
	background: rgba(0, 0, 0, 0.9);
	color: #fff;
}
#header ul ul {
	display: none;
	border: 0;
	height: auto;
	left: 0;
	margin: 0;
	position: relative;
	width: 100%;
}
#header ul ul li a {
	text-indent: 15px;
}
#header ul li span {
	background: orange url(../images/mobile-expand.png) no-repeat 0 0;
	border-left: 1px solid #fff;
	display: block;
	height: 49px;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
}
#body {
	width: 100%;
}
#body h1 {
	display: block;
	font-size: 20px;
	margin: 0 auto;
	width: 90%;
}
#body h1 span {
	display: block;
	padding: 3%;
	width: 94%;
}
#body > div {
	padding: 0 5%;
	width: 90%;
}
#body > div img {
	margin: 24px 0 30px;
	width: 98%
}
#body > div .article {
	padding: 0;
	width: 100%;
}
#body > div .article h2, #body > div .article h4 {
	font-size: 18px;
	font-weight: bold;
}
#body #featured {
	overflow: hidden;
	margin: 0 0 20px
}
#body #featured img {
	min-width: 960px;
}
#body #featured div {
	left: 0;
	margin: 0;
	padding: 0 2%;
	position: absolute;
	top: 0;
	text-align: left;
	width: 96%;
}
#body #featured div h2 {
	background: #252525;
	opacity: 0.9;
    color: white;
	font-size: 14px;
	font-weight: normal;
	margin: 75px 0 10px;
	padding: 8px 5px;
}
#body #featured div span {
    background-color: rgba(255,255,255,0.6);
    color: #252525;
	display: block;
	font-size: 14px;
	margin: 10px 0;
	padding: 10px;
}
#body #featured div a {
	font-size: 14px;
	margin: 5px 0 0;
	padding: 10px;
}
#body > ul {
	overflow: visible;
	padding: 0 5%;
	width: 90%;
}
#body ul.gallery {
	padding: 5% 0;
	overflow: hidden;
	width: 100%;
}
#body > ul li {
	float: none;
	margin: 0;
	width: 100%;
}
#body ul.gallery li {
	float: left;
	margin: 0 0 5% 5%;
	width: 42%;
}
#body > ul li a img {
	width: 98%;
}
#body > ul li a span {
	padding: 15px 0;
}
#body div ul {
	margin: 0;
	padding: 20px 0 0;
	width: 100%;
}
#body div ul li {
	overflow: visible;
	padding: 0 0 20px;
	width: 99%;
}
#body div ul li .figure {
	border: 0;
	display: block;
	float: none;
	margin: 0 0 20px;
	width: 100%;
}
#body div ul li .figure img {
	width: 100%;
}
#body div ul li div {
	float: none;
	padding: 0;
	width: 100%;
}
#body div ul li div a.more:hover {
	height: 14px;
	line-height: 14px;
}
#body form {
	width: 100%;
}
#body form input, #body form textarea {
	margin: 0 0 20px;
	padding: 10px;
	width: 84%;
}
#body form #send {
	padding: 10px;
}
#footer {
	padding: 10px 0 25px;
}
#footer div {
	overflow: visible;
	width: 100%;
}
#footer div p {
	float: none;
	margin: 0;
	text-align: center;
}
#footer div ul {
	float: none;
	margin: 0 auto;
	width: 256px;
}