/* Website Template by freewebsitetemplates.com */
/* AJOUT 24/04/2018 - iframe youtube responsive */
@media screen and (min-width: 640px) {
  .iframe-youtube iframe{
	width:960px;
	height:540px;
	}
}

#logo-site img{
	margin-top: 15px;
	margin-left: -100px;
	max-width: 90px;
	max-height: 76px;
	width: 100%;
    height: 100%;
}

#titre-site{
	margin-top: 40px;
	margin-bottom: 40px;
}

#titre-site p{
	font-family: leckerli_oneregular, sans-serif;
	font-size: 3.9em;

}

.row{
	margin-right: 0px!important;
    margin-left: 0px!important;
}

.evenement{
	height: 250px;
	font-family: leckerli_oneregular, sans-serif;
	width: 100%!important;
}

.evenement img{
	border:none!important;
}

.event-text{
	background-color: #fff9de;
}

.event-text-left{
	border-left: orange solid 5px;
}

.event-text-right{
	border-right: orange solid 5px;
}

.event-photo{
	padding:0!important;
}

.event-photo img{
	max-width: 322px;
	max-height: 250px;
	width: 100%;
    height: 100%;
}

a.link{
	color: #252525;
}

a.link:hover{
	text-decoration: none;
	color: #9e1818;
}

.logo-localiser {
	max-width: 64px;
	max-height: 64px;
	width: 100%;
    height: 100%;
    border:none!important;
}

.date-evenement{
	font-size: x-large;
    color: #d60303;
}

/* AJOUT 24/10/2017 - Responsive Démos */
.bloc_provisoir_musique ul{
	display: flex;
	margin-left: 10%;
}

.bloc_provisoir_musique li{
	width: 30%;
}

/* AJOUT 08/10/2017 - Présentation groupe */
.presentationGroupe{
	font-family: cursive;
}

.membresGroupe{
	display: block;
	font-family: cursive;
}

.membresGroupe div {
    display: inline-block;
}

.membresGroupe img{
	width: 400px;
	height: auto;
}

.membresGroupe p{
	width: 40%;
	margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#denis{
	margin-left: 20px;
    margin-right: 15px;
}

/* AJOUT 24/07/2017 - Site static - Iframe vidéos */

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-wrapper {
	width: 960px;
    max-width: 100%;
    margin-left: 17%;
    padding-top: 30px;
    padding-bottom: 20px;
}

/* AJOUT 08/05/2017 - Site static */
#titre_bailao_logo > p{
	float: left;
    margin-top: 6%;
    padding-left: 23%;
    padding-right: 5%;
}
#titre_bailao_logo > img{
	width: 90px;
}
.lien_linkedIn{
	color:orange;
	text-decoration: none;
}
.lien_linkedIn:hover{
	color:orange;
}

div.bloc_provisoir_contact{
	height: 550px;
}
div.bloc_provisoir_contact .bloc_coordonnees{
	background: orange;
    display: inline-block;
    font-size: 16px;
    padding: 26px 27px 22px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 32%;
    margin-top: 5%;
}
div.bloc_provisoir_contact .bloc_coordonnees p{
	color:white;
    font-family: "Arial Black", Gadget, sans-serif;
 }

a.coordonnees_bouton_provisoir{
	background: orange;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin: 15px 0 0;
    padding: 26px 27px 22px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 8%;
    margin-left: 43%;
}
.bloc_provisoir_musique{
	height: 600px;
}
.bloc_provisoir_musique ul li{
	list-style: none;
    margin-top: 3%;
}
#titre_bailao_logo{
	font-family: leckerli_oneregular, sans-serif;
}

.bloc_provisoir_musique h3{
	font-family: leckerli_oneregular, sans-serif;
    color: orange;
    padding-left: 30px;
    font-size: 2.1em;
}


/***********************/

@font-face {
	font-family: 'poller_oneregular';
	src: url('../fonts/pollerone/pollerone-webfont.eot');
	src: url('../fonts/pollerone/pollerone-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pollerone/pollerone-webfont.woff') format('woff'),
		 url('../fonts/pollerone/pollerone-webfont.ttf') format('truetype'),
		 url('../fonts/pollerone/pollerone-webfont.svg#poller_oneregular') format('svg');
}
@font-face {
	font-family: 'leckerli_oneregular';
	src: url('../fonts/leckerlione/leckerlione-regular-webfont.eot');
	src: url('../fonts/leckerlione/leckerlione-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/leckerlione/leckerlione-regular-webfont.woff') format('woff'),
		 url('../fonts/leckerlione/leckerlione-regular-webfont.ttf') format('truetype'),
		 url('../fonts/leckerlione/leckerlione-regular-webfont.svg#leckerli_oneregular') format('svg');
}

body {
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	margin: 0;
	min-width: 960px;
	padding: 0;
}
p {
	color: #252525;
	line-height: 24px;
	margin: 0;
	padding: 0;
}
p a {
	color: #252525;
	text-decoration: underline;
}
p a:hover {
	color: #898989;
}
#header {
	margin: 0 auto;
	padding: 0 0 50px;
	text-align: center;
	width: 960px;
}
#header > a{
	text-decoration: inherit;
    color: #252525;
    font-size: 3.9em;
    margin-bottom: 3%!important;
    margin-top: 2%!important;
}
#header a.logo {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 400px;
}
#header a.logo img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
}
#header ul {
	margin: 0;
	padding: 0;
}
#header ul li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0 19px;
}
#header ul li a {
	color: #252525;
	display: inline-block;
	font-family: leckerli_oneregular, sans-serif;
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	padding: 0 0 3px;
	text-decoration: none;
	/*text-transform: uppercase;*/
}
#header ul li a:hover, #header ul li.selected a {
	color: orange;
}
#body {
	margin: 0;
	padding: 0;
	text-align: center;
}
#body h1 {
	color: #fff;
	display: inline;
	font-family: poller_oneregular;
	font-size: 35px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	/*text-transform: uppercase;*/
}
#body h1 span {
	background: #252525;
	display: inline-block;
	padding: 15px 28px 12px;
	 font-family: leckerli_oneregular, sans-serif;
}
/*#body > div {
	margin: 0 auto;
	padding: 0;
	width: 960px;
}*/
#body > div img {
	border: 2px solid #292929;
	margin: 24px 0 0;
	padding: 0;
}
#body > div .article {
	margin: 0 auto;
	padding: 30px 30px 0;
	width: 560px;
}
#body > div .article h2 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0 0 30px;
}
#body > div .article h3 {
	color: #252525;
	line-height: 24px;
	margin: 0;
	padding: 0;
}
#body > div .article h4 {
	background: #252525;
	color: #fff;
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0 0 30px;
	padding: 8px 27px 10px;
}
#body > div .article p {
	margin: 0 0 30px;
}
#body div ul {
	margin: 0;
	padding: 24px 10px 0;
	width: 940px;
}
#body div ul li {
	border: 2px solid #1a1a1a;
	display: block;
	list-style: none;
	margin: 0 0 13px;
	overflow: hidden;
	padding: 0;
}
#body div ul li .figure {
	border-right: 2px solid #1a1a1a;
	float: left;
	margin: 0;
	padding: 0;
	width: 376px;
}
#body div ul li img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
	opacity: 0.8;
	transition: 0.5s ease-in-out;
}
#body div ul li .figure:hover img {
	opacity: 1;
}
#body div ul li div {
	float: left;
	margin: 0;
	padding: 63px 0 20px;
	width: 558px;
}
#body div ul li div h3 {
	color: #252525;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#body div ul li div p {
	padding: 30px 30px 18px;
}
#body div ul li div a.more {
	background: #000;
	color: #fff;
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 8px 28px;
	text-decoration: none;
	text-transform: uppercase;
}
#body div ul li div a.more:hover {
	color: #252525;
	background: #fff;
	border: 2px solid #252525;
}
#body #featured {
	/*margin: 0 0 13px;*/
	padding: 0;
	position: relative;
	width: 100%;
}
#body #featured img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
}
#body #featured div {
	left: 50%;
	margin-left: -480px;
	margin-top: -171px;
	padding: 0 0 0 470px;
	position: absolute;
	top: 50%;
	text-align: left;
	width: 490px;
}
#body #featured div h2 {
	background: #fff;
    color: #000;
    display: inline-block;
    font-size: 18px;
    margin: 0 0 18px;
    padding: 23px 27px 20px;
    font-family: leckerli_oneregular, sans-serif;
    font-weight: bold;
}
#body #featured div span {
	background: #252525;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	margin: 7px 0;
	padding: 12px 27px;
	font-family: leckerli_oneregular, sans-serif;
}
#body #featured div a {
	background: orange;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    margin: 15px 0 0;
    padding: 26px 27px 22px;
    text-align: center;
    text-decoration: none;
    font-family: leckerli_oneregular, sans-serif;
}
#body #featured div a:hover {
	background: #ce0000;
}
#body > ul {
	margin: 0 auto;
	overflow: hidden;
	padding: 24px 0 0;
	width: 960px;
}
#body > ul li {
	display: block;
	float: left;
	margin: 0 10px 20px;
	padding: 0;
	width: 300px;
}
#body > ul li a {
	color: #000;
	display: block;
	font-family: poller_oneregular;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#body > ul li a img {
	border: 2px solid #1a1a1a;
	display: block;
	margin: 0;
	padding: 0;
	opacity: .8;
	transition: 0.5s ease-in-out;
}
#body > ul li a:hover img {
	opacity: 1;
}
#body > ul li a span {
	display: block;
	margin: 0;
	padding: 33px 0 0;
}
#body form {
	margin: 0 auto;
	padding: 24px 0 0;
	width: 620px;
}
#body form input, #body form textarea {
	border: 2px solid #252525;
	color: #252525;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	margin: 0 0 37px;
	padding: 20px 10px;
	text-align: center;
	text-transform: uppercase;
	width: 596px;
}
#body form textarea {
	height: 175px;
	overflow: auto;
	resize: none;
}
#body form #send {
	background: #252525;
	color: #fff;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: inline-block;
	padding: 20px 28px;
	width: auto;
}
#body form #send:hover {
	background: #fff;
	color: #252525;
	cursor: pointer;
}
#footer {
	background: #252525;
	margin: 0;
	padding: 36px 0 42px;
}
#footer div {
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 960px;
}
#footer div p {
	color: #fff;
	float: left;
	line-height: 44px;
	margin: 0 0 0 10px;
	padding: 0;
}
#footer div ul {
	display: block;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 256px;
}
#footer div ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0 10px;
	padding: 0;
	width: 44px;
}
#footer div ul li a {
	background: url(../images/icons.jpg) no-repeat 0 0;
	display: block;
	height: 44px;
	margin: 0;
	padding: 0;
	text-indent: -99999px;
	width: 44px;
}
#footer div ul li #facebook {
	background-position: 0 -44px;
}
#footer div ul li #facebook:hover {
	background-position: -44px -44px;
}
