/** EVERYWHERE **/
html {
    height: 99.9%;
}

body {
    height: 99.9%;
}

@font-face {
    font-family: 'starwars';
    src: url('../fonts/batmfa__.ttf');
}

.elem-disabled {
    cursor: not-allowed;
    opacity: 0.65;
}

.main-title {
    font-family: 'starwars';
    font-size: 0.8em;
}

/** CHARACTER LIST **/
.round-logo-character-detail {
    width: 48px;
    height: 48px;
    margin: -6px 0 0;
    background: #fff;
    border-radius: 50%;
}

.btn-character-list{
    padding: 7px;
    border-radius: 5%;
}

.buttons-row-character-list {
    margin-left: -8px!important;
    margin-right: -8px!important;
}

.btn-character-list {
    margin: 1px;
    text-align: center;
    font-size: 12px;
}

.edit-color {
    background-color: lightskyblue;
    color: ghostwhite;
    border: solid 1px ghostwhite ;
}
a.edit-color:hover {
    background-color: ghostwhite;
    color: lightskyblue;
    border: solid 1px lightskyblue ;
    cursor: pointer;
}

.show-color {
    background-color: #5A738E;
    color: whitesmoke;
    border: solid 1px whitesmoke ;
}
a.show-color:hover {
    background-color: whitesmoke;
    color: #5A738E;
    border: solid 1px #5A738E ;
    cursor: pointer;
}

.delete-color {
    background-color: #af0101;
    color: white;
    border: solid 1px #ffeff6 ;
}
a.delete-color:hover {
    background-color: #ffeff6;
    color: #af0101;
    border: solid 1px #af0101 ;
    /*cursor: pointer;*/
    cursor: not-allowed;
}

.add-character-list-box {
    background-color: #0b3e6f;
    color: white;
    padding: 0px!important;
    margin-left: 10px!important;
    max-width: 290px;
    min-width: 230px;
    min-height: 415px;
}

.add-character-list {
    min-height: 415px!important;
    text-align: center;
    padding-top: 30%!important;
    font-size: XX-LARGE;
}

a.add-character-list-link {
    background-color: #0b3e6f;
    color: white;
}
a.add-character-list-link:hover
{
    background-color: #0b3e6f;
    color: lightgrey;
    cursor: pointer;
}

/* character detail */
.character-detail table {
    overflow-x: auto;
    display: block!important;
    border: black;
    width: inherit!important;
}

#myTabContent {
    background-color: #F7F7F7;
    padding: 10px;
}

.progress {
    /*height: 18px!important;*/
    text-align: center;
    font-weight: bold;
}

.background_right {
    border-top: solid 1px #F5F7FA;
}

a.not-allowed:hover {
    cursor: not-allowed;
}