html {
    margin:0;
    padding:0;
    background: url(../img/mobile_fosuser_background_blue_simple.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent!important;
}

.btn-perso {
    /*width: 80%;*/
    height: 100px;
    color: #000000;
    background-color: #F1C52A;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
}

.video_gif {
    display: none;
}

.fosuser_logo_title_zone {
    height: 50%;
    position: relative;
}

.fosuser_logo_title_content {
    margin-top: 10%;
    height: 50%;
    position: relative;
    bottom:0;
}

.fosuser_title {
    color: #F1C52A;
    font-size: 3em;
    text-shadow: 5px 2px #000000;
}

.fosuser_form_label{
    font-weight: bold;
    color: white;
    font-size: 3em;
    text-shadow: 5px 2px #000000;
}

.fosuser_form_label_rememberme {
    font-size: 2.5em;
    padding-left: 15px;
}

input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
}

.fosuser_form_input {
    font-size: xx-large;
    text-align: center;
}

.fosuser_form_register {
    padding-top: 30px;
}
#fos_user_registration_form input {
    padding: 1.5rem 0.75rem!important;
    margin-top: 25px!important;
    text-align: center!important;
    font-size: 1.5rem!important;
}

/************** REGISTRATION **********/
.registration_zone {
    height: 100%;
    width: 100%;
    background-color: transparent!important;
    opacity: 1;
}

#fos_user_registration_form textarea {
    text-align: center;
    font-weight: bold;
    color: dimgrey;
    padding-top: 30px;
    font-size: 1.5rem;
}
.fosuser_h2 {
    font-size: 1.9em;
}

#fos_user_registration_form_approximative_dispo {
    font-size: 1.5rem;
}
#fos_user_registration_form_approximative_dispo label{
    font-size: 1.5rem;
    width: 21%;
}
#form-register-checkbox-label{
    font-size: 2.2rem;
}