/****** /!\ CSS USED FOR ALL FOSUSER TEMPLATES IN THIS WEBSITE /!\ *****/
html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: black;
}

/*********** CONNEXION ***********/
.fosuser_content_zone {
    height: 100%;
    margin-right: 0px!important;
}

/*********** REGISTRATION *********/
.registration_zone {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 1;
}

#fos_user_registration_form input {
    text-align: center;
    font-weight: bold;
    color: dimgrey;
}

#fos_user_registration_form textarea {
    text-align: center;
    font-weight: bold;
    color: dimgrey;
    padding-top: 30px;
}

.registration_zone hr {
    border-top: 2px solid rgba(255,255,255,.9);
}

#fos_user_registration_form_approximative_dispo{
    background-color: inherit;
    color: white;
}

#fos_user_registration_form_approximative_dispo input{
    margin: 15px;
}

#form-register-checkbox-label {
    color: #dedede;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.5em;
}



/********** ALL ****************/

.fosuser_title {
    color: #F1C52A;
    font-size: 2.5em;
    text-shadow: 3px 2px #000000;
}

.fosuser_h2 {
    font-family: 'starwars';
    font-size: 1.8em;
    text-shadow: 3px 2px #000000;
    text-align: center;
}

.h2_required {
    color: #F1C52A;
}

.h2_optionnal {
    color: #dedede;
}

/*video#bgvid {*/
    /*position: fixed; right: 0; bottom: 0;*/
    /*min-width: 100%; min-height: 100%;*/
    /*width: auto; height: auto; z-index: -100;*/
    /*background: url(../img/screen1.png) no-repeat;*/
    /*background-size: cover;*/
/*}*/

.btn-perso{
    color: darkslategrey;
    background-color: #F1C52A;
    border-color: #000000;
    cursor: pointer;
    font-weight: bold;
}

.btn-perso-reverse {
    color: #F1C52A!important;
    background-color: #000000!important;
    border-color: #F1C52A!important;
}


.fosuser_content {
    text-align: center;
}

.fosuser_logo img{
    margin-left: 15px;
}

.fosuser_logo_title_zone {
    text-align: center;
}

.fosuser_title {
    font-family: 'starwars';
}

.fosuser_form_label_optionnal_textarea {
    color: #dedede;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.5em;
    /*text-decoration: underline;*/
}
