html {
    margin:0;
    padding:0;
    background: url(../img/screen1.png) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    }

body {
    background-color: transparent!important;
}

.fosuser_logo_title_zone {
    height: 70%;
}

.fosuser_content_zone input{
    text-align: center;
    color: #000000;
    font-weight: bold;
    /*margin: 10px;*/
}

.fosuser_form_label{
    font-weight: bold;
    color: #F1C52A;
    font-size: x-large;
    cursor: pointer;
    text-shadow: 3px 2px #000000;
}

.fosuser_form_input_checkbox {
    width: 15px;
    height: 15px;
    cursor: pointer;
}