/****** /!\ CSS USED EVERYWHERE IN THIS WEBSITE /!\ *****/
@font-face {
    font-family: 'starwars';
    src: url('../fonts/batmfa__.ttf');
}

/***********  BASE **************/
.sidebar-collapse #sidebar-panel-title-noobs {
    display: none;
}

.wrapper {
    background-color: transparent!important;
}

.content-wrapper {
    background-color: transparent!important;
}

.main-sidebar {
    background-color: rgba(0,0,0,0.7)!important;
}

.sidebar-menu>li>li {
    padding: 5px;
}
.sidebar-menu>li>a {
    padding: 25px 5px 12px 15px!important;
}

.form-app img {
    width: 100%;
    max-width: 64px;
    height: auto;
    border-radius: 50%;
}

.form-app-big img {
    width: 100%!important;
    max-width: 80px!important;
    height: auto!important;
    /*border-radius: 50%;*/
}
.form-app-big-round img {
    width: 100%!important;
    max-width: 80px!important;
    height: auto!important;
    border-radius: 50%;
}

.form-app-medium img {
    width: 100%;
    max-width: 32px;
    height: auto;
    border-radius: 50%;
}

.form-app-mini img {
    width: 100%;
    max-width: 16px;
    height: auto;
    border-radius: 50%;
}

.box-footer {
    overflow: hidden!important;
}


/**** USEFULL *********/
.no-padding-left {
    padding-left: 0px;
}

.no-padding-right {
    padding-right: 0px;
}

/********* FORM **********/
.form-app {
    background-color: rgba(0,0,0,0);
   /*margin-top: 20px;*/
}

.form-app .box-header {
    text-align: center;
    color: white;
    background-color: black;
    font-weight: bold;
    font-family: "starwars";
}

.form-app select {
    /*text-indent: 47%;*/
    text-align: center;
    text-align-last: center;
    font-size: large;
    color:black;
    font-weight: bold;
    background-color: rgba(255,255,255,1);
}
.form-app input {
    text-align: center;
    text-align-last: center;
    font-size: large;
    color: black;
    font-weight: bold;
    background-color: rgba(255,255,255,1);
}
.form-app textarea {
    text-align: center;
    font-size: large;
    color: black;
    font-weight: bold;
    background-color: rgba(255,255,255,1);
}

.form-app-radio-input {
    margin-top: 5px;
    background-color: rgba(255,255,255,1);
    border-radius: 4px;
    font-weight: bold;
    font-size: large;
    color: grey;
    text-align: center;
}

.form-app-label {
    margin-bottom: 5px;
}

.app-form-radio-selector > label {
    margin-right: 15px;
    margin-left: 5px;
    color: black;
}

.radio_item{
    display: none !important;
}

.label_item {
    opacity: 1;
    cursor:pointer;
    margin-right: 15px;
}

.radio_item:checked + label {
    opacity: 1;
}

.selected-classe, .selected-race, .selected-role, .selected-character{
    box-shadow:0px 0px 12px 8px #F1C52A;
}



/************ TAB **************/
.tab-app {
    text-align: center;
}

/************* CHARACTERS ***********/
.form-app-character-textarea {
    text-align: center;
    padding: 10px;
    color: grey;
}

.form-app-character-detail-field-title {
    font-weight: bold;
}

.role-title-character-detail {
    font-size: large;
}

.app-character-list-detail .nav>li>span{
    position: relative!important;
    display: block!important;
    padding: 10px 15px!important;
}

.app-character-list-detail .fa-wrench {
    color: white;
}

.form-register-checkbox-label-character {
    color: grey;
    font-weight: bold;
    font-size: large;
}

.character-form-checkbox {
    border: inherit!important;
}

.character-form-checkbox label {
    margin-right: 20px;
}

.character-form-select {
    /*width: 49%!important;*/
    background-color: lightgrey;
    font-weight: bold;
}

.form-app-radio-input .row{
    margin: 0px!important;
}

/*********** EVENTS ********/
.app-event-list {
text-align: center;
}

.app-event-list .box {
    /*opacity: 0.9;*/
    margin-bottom: 30px;
}

.app-event-list .fa-plus {
    color: black;
}

.app-event-list .box-header {
    padding: 0px;
}

.app-event-list .box-body {
    border: solid 2px #f4f4f4;
    padding: 3px 10px;
}

.app-event-list .box-footer {
    border-bottom: solid 2px #f4f4f4;
    border-left: solid 2px #f4f4f4;
    border-right: solid 2px #f4f4f4;
    padding: 3px 10px;
}

.app-event-list-title-field {
    font-weight: bold;
    font-size: large;
    vertical-align: middle;
}

.app-event-list-value-field {

}

.app-event-list-important-text {
    color:black;
}

.app-event-list .small-box-footer {
    font-weight: bold;
    font-size: large;
}

.app-event-list .small-box>.small-box-footer {
    background: inherit;
}

.font-xx-large {
    font-size: x-large;
}

.app-event-list-textarea-field {
    background-color: gainsboro;
    border: white;
    border-radius: 10px;
    color: dimgrey;
}

.button-subscription button{
    font-size: medium;
    font-weight: bold;
}
.button-subscription a{
    font-size: medium;
    font-weight: bold;
}

.partcipant-info-event {
    font-weight: bold;
    font-size: large;
}

/************ INSCRIPTION EVENT ******************/
.app-form-subscription-character-box {
    width: 100%;
}