{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    <h1>Votes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vote in votes %}
            <tr>
                <td><a href="{{ path('vote_show', { 'id': vote.id }) }}">{{ vote.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vote_show', { 'id': vote.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vote_edit', { 'id': vote.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vote_new') }}">Create a new vote</a>
        </li>
    </ul>
{% endblock %}
