{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    <style>
        .diveventlist {
            background-color: white;
            border: solid 4px cadetblue;
        }
        /*#aeventlist:hover {*/
            /*border: dashed 5px white;*/
            /*transition: 0.7s;*/
        /*}*/
    </style>
    <div class="row center-align">
        <h1>Evenements à venir ...</h1>
    </div>

    {% set i = 0 %}

    <div>
        {% for event in events %}
        <div class="row">
            {% if (i%3 == 0) %}
                <div class="row">
            {% endif %}
            <div class="col s4" style="margin-bottom: 30px;">
                <div class="row center-align" style="color: #f44336;">
                    <h3 style="color: #EE6E73 ">{{ event.title }}</h3>
                </div>
                <div class="diveventlist">
                    <div class="row center-align">
                        <h5>Créateur : {{ event.userEvent.firstName | capitalize }} {{ event.userEvent.lastName | slice(0,1) |capitalize }}.
                            {% set timeToLeft = event.startDate.timestamp - ('now'|date('U')) %}
                            {% if (timeToLeft <= (3600 * 24)) %}
                                {% set hourToLeft = ((timeToLeft / 3600) | number_format) %}
                                {% set minutesToLeft = (((timeToLeft % 3600) / 60) | number_format) %}
                                {% set secondesToLeft = (((timeToLeft % 3600) % 60) | number_format) %}
                                <i class="material-icons">access_alarm</i>
                                <span style="color: #EE6E73">{{ hourToLeft }}:{{ minutesToLeft }}:{{ secondesToLeft }}</span>
                            {% endif %}</h5>
                    </div>
                    <div class="row center-align">
                        <i class="material-icons">group</i>
                    </div>
                    <div class="row">
                        <div class="col s2">
                            <i class="material-icons">access_time</i>
                        </div>
                        <div class="col s10">
                            <div class="row">
                                <span>Début : </span>{{ event.startDate | date('D d/m/Y H:i') }}
                            </div>
                            <div class="row">
                                <span>Fin : </span>{{ event.endDate | date('D d/m/Y H:i') }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s2">
                            <i class="material-icons">add_location</i>
                        </div>
                        <div class="col s10">
                            <div class="row">
                                <span>Lieu : </span>{{ event.place }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s2">
                            <i class="material-icons">event_available</i>
                        </div>
                        <div class="col s10">
                            <div class="row">
                                <span>Prérequis : </span>{{ event.prerequis}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s2">
                            <i class="material-icons">group</i>
                        </div>
                        <div class="col s10">
                            <div class="row">
                                <span>Participants : </span>{{ event.availablePlace - (event.availablePlace - event.remainingPlace) }} / {{ event.availablePlace }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <a class="waves-effect waves-light btn" href="{{ path('event_show', {'id' : event.id}) }}">VOIR<i class="material-icons right">find_in_page</i></a>
                        </div>
                        <div class="col s6">
                            <a class="waves-effect waves-light btn" href="{{ path('participant_add', {'id' : event.id}) }}">S'inscire<i class="material-icons right">check</i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% if ((i+1)%3 == 0) %}
                </div>
            {% endif %}
            {% set i = i + 1 %}
        {% endfor %}
    </div>
{% endblock %}