{% extends 'base.html.twig' %}

{% block body %}
    <style type="text/css">
        [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
            position: static;
            opacity: 1;
            pointer-events: none;
            margin-left: 25px;
        }

        form .btn {
            margin-top: 30px;
        }
    </style>

    {{ parent() }}

    <h1>Création d'un événement </h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn waves-effect waves-light" type="submit" name="action">Valider
            <i class="material-icons right">send</i>
        </button>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('event_index') }}" class="waves-effect waves-light btn"><i class="material-icons left">keyboard_return</i>Retour</a>
        </li>
    </ul>
{% endblock %}
