{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    <style>
        .divCadreGlobal {
            border: solid 3px cadetblue;
        }

        .divCadreSolo {
            border: solid 2px cadetblue;
            background-color: cadetblue;
        }
    </style>

    <div class="row">
        <div class="col s9">
            <div class="row">
                <div class="center-align" style="color: #f44336;">
                    <h1>Evenements {{ event.title }}</h1>
                </div>

            </div>

            <div class="row center-align">
                <i class="material-icons">not_interested</i>
            </div>
            <div class="row center-align" style="color: #f44336;">Débute dans {{ event.startDate | date() }}</div>
            <div class="row center-align">Publié par {{ event.userEvent }}</div>
        </div>
        <div class="col s3">
            <div class="row">
                <div class="right-align">
                    <i class="material-icons">thumb_up</i>
                    <span>{{ event.vote }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s9 divCadreGlobal">
            <div class="row">
                <div class="row center-align" style="color: #f44336;">
                    Description
                </div>
                <div class="row center-align divCadreSolo">
                    {{ event.description }}
                </div>
                <div class="row center-align" style="color: #f44336;">
                    Lieu
                </div>
                <div class="row center-align divCadreSolo">
                    {{ event.place }}
                </div>
                <div class="row">
                    <div class="col s6 center-align" style="color: #f44336;">
                        Début
                    </div>
                    <div class="col s6 center-align" style="color: #f44336;">
                        Fin
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 center-align divCadreSolo">
                        {{ event.startDate | date() }}
                    </div>
                    <div class="col s6 center-align divCadreSolo">
                        {{ event.endDate | date() }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 center-align" style="color: #f44336;">
                        Prérequis
                    </div>
                    <div class="col s6 center-align" style="color: #f44336;">
                        Tarifs
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 center-align divCadreSolo">
                        {{ event.prerequis }}
                    </div>
                    <div class="col s6 center-align divCadreSolo">
                        {{ event.price }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col s3" style="background-color: #26a69a;">
            <div class="row">
                <div class="center-align" style="color: #ffffff;">
                    <span>Places Max : {{ event.availablePlace }}</span>
                </div>
            </div>
            <div class="row">
                <div class="center-align" style="color: #ffffff;">
                    <span>Places restantes : {{ event.remainingPlace }}</span>
                </div>
            </div>
            <div class="row center-align" style="color: #ffffff;">
                <span>==================</span>
            </div>
            <div class="row">
                <div class="center-align" style="color: #ffffff;">
                    Participants
                </div>
            </div>
            {% for participant in participants %}
                <div class="row">
                    <div class="col s3 right-align" style="color: #0000F0;">
                        <i class="material-icons">done</i>
                    </div>
                    <div class="col s8 left-align">
                        {{ participant.userParticipant.firstName | capitalize }} {{ participant.userParticipant.lastName | slice(0,1) | capitalize }}.</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="center-align">
            {% if userParticipate %}
                <a class="waves-effect waves-light btn" href="{{ path('participant_remove', {'id' : event.id}) }}">Se désinscrire
                    <i class="material-icons right">send</i></a>
            {% else %}
                <a class="waves-effect waves-light btn" href="{{ path('participant_add', {'id' : event.id}) }}">S'inscrire
                    <i class="material-icons right">send</i></a>
            {% endif %}
        </div>
    </div>

    <ul>
        <li>
            {#<a href="{{ path('event_index') }}">Back to the list</a>#}
            <a class="waves-effect waves-light btn" href="{{ path('event_index') }}">Retour à la liste
                <i class="material-icons left">arrow_back</i>
            </a>
        </li>
        <br>
        <li>
            {#<a href="{{ path('event_edit', { 'id': event.id }) }}">Modifier</a>#}
            <a class="waves-effect waves-light btn" href="{{ path('event_edit', { 'id': event.id }) }}">Modifier
                <i class="material-icons right">border_color</i>
            </a>
        </li>
        <br>
        <li>
            {{ form_start(delete_form) }}
                {#<input type="submit" value="Delete">#}
            <button class="btn waves-effect waves-light" type="submit" name="action">Supprimer
                <i class="material-icons right">cancel</i>
            </button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
