{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    <h1>Participants list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <td><a href="{{ path('participant_show', { 'id': participant.id }) }}">{{ participant.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('participant_show', { 'id': participant.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('participant_edit', { 'id': participant.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('participant_new') }}">Create a new participant</a>
        </li>
    </ul>
{% endblock %}
