{% trans_default_domain 'FOSUserBundle' %}
<div class="registration_zone container-fluid">

    <div class="row">
        <!-- NOTHING -->
        <div class="col-2"></div>

        <!-- TITLE -->
        <div class="fosuser_logo_title_zone col-8">
            <div class="fosuser_logo_title_content">
                <div class="fosuser_title">Mise à jour du profil</div>
            </div>
        </div>

        <!-- NOTHING -->
        <div class="col-2">
        </div>
    </div>

    <div class="row"  style="background-color: black;">
        <div class="col-md-3"></div>

        <div class="col-md-6">

            <hr/>

            <h2 class="fosuser_h2 h2_required">
                Champs obligatoires :
            </h2>

            <form action="{{ path('fos_user_profile_edit') }}" method="POST">
                <div class="form-group" id="fos_user_registration_form">
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'form.email'|trans } }) }}
                    <div class="alert-danger">{{ form_errors(form.email) }}</div>

                    {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'form.username'|trans} }) }}
                    <div class="alert-danger">{{ form_errors(form.username) }}</div>

                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'form.password'|trans } }) }}
                    <div class="alert-danger">{{ form_errors(form.plainPassword.first) }}</div>

                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'form.password_confirmation'|trans } }) }}
                    <div class="alert-danger">{{ form_errors(form.plainPassword.second) }}</div>

                    <br/>
                    <hr/>
                    <br/>

                    <h2 class="fosuser_h2 h2_optionnal">
                        Champs optionnels :
                    </h2>

                    <div id="form-register-checkbox-label">{{ form.approximative_dispo.vars.label }}</div>
                    {{ form_widget(form.approximative_dispo, { 'attr': {'class': 'form-control form-register-checkbox' } }) }}
                    <div class="alert-danger">{{ form_errors(form.approximative_dispo) }}</div>

                    <br/>

                    <label class="fosuser_form_label_optionnal_textarea" for="cke_fos_user_registration_form_personnal_description">Quelques mots pour mieux me connaître :</label>
                    {{ form_widget(form.personnal_description, { 'attr': {'class': 'form-control', 'placeholder': 'Quelques mots pour mieux me connaître ...'|trans } }) }}
                    <div class="alert-danger">{{ form_errors(form.personnal_description) }}</div>
                    <br/>

                    <label class="fosuser_form_label_optionnal_textarea" for="fos_user_registration_form_favourite_music">Quelques musiques que je vous recommande :</label>
                    {{ form_widget(form.favourite_music, { 'attr': {'class': 'form-control', 'placeholder': 'Quelques musiques que je vous recommande ...'|trans } }) }}
                    <div class="alert-danger">{{ form_errors(form.favourite_music) }}</div>
                    <br/>

                    <label class="fosuser_form_label_optionnal_textarea" for="fos_user_registration_form_favourite_movie">Mes films/séries/animes favoris :</label>
                    {{ form_widget(form.favourite_movie, { 'attr': {'class': 'form-control', 'placeholder': 'Mes films préférés ...'|trans } }) }}
                    <div class="alert-danger">{{ form_errors(form.favourite_movie) }}</div>
                    <br/>

                    <label class="fosuser_form_label_optionnal_textarea" for="fos_user_registration_form_favourite_book">Des titres de livres pour les plus intellectuels :</label>
                    {{ form_widget(form.favourite_book, { 'attr': {'class': 'form-control', 'placeholder': 'Des titres de livres pour les plus intellectuels ...'|trans } }) }}
                    <div class="alert-danger">{{ form_errors(form.favourite_book) }}</div>

                    <br/>

                    {{ form_rest(form) }}

                </div>
                <div>
                    <input class="btn btn-lg btn-perso btn-block" type="submit" value="{{ 'profile.edit.submit'|trans }}"
                           onClick="this.disabled=true; this.value='Mise à jour en cours…'; this.form.submit();">
                </div>
            </form>
        </div>

        <div class="col-md-3"></div>
    </div>

</div>