{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <label for="username">Identifiant</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

    <br>

    <label for="password">Mot de passe</label>
    <input type="password" id="password" name="_password" required="required" />

    <br>

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">Se rappeler de moi</label>

    <br>
    <div class="divsubmit" style="width: 100%;left: 63%;">
        <button class="btn waves-effect waves-light" type="submit" name="action">Se connecter
            <i class="material-icons right">send</i>
        </button>

    </div>

    <div class="divcompte" style="width: 100%;left: 63%;">
        <a class="waves-effect waves-light btn" href="{{ path("fos_user_registration_register") }}">Créer son compte</a>
    </div>
</form>
