{% trans_default_domain 'FOSUserBundle' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap-grid.css') }}" />


        <link rel="stylesheet" href="{{ asset('css/full.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/fosuser.css') }}" />
        <link rel="stylesheet" media="screen and (min-device-width: 700px)" href="{{ asset('css/fosuser_laptop.css') }}" />
        <link rel="stylesheet" media="screen and (max-device-width: 699px)" href="{{ asset('css/fosuser_mobile.css') }}" />

        <!-- bootstrap-wysiwyg -->
        <link href="{{ asset('gantella-theme/vendors/google-code-prettify/bin/prettify.min.css') }}" rel="stylesheet">

        <!-- Font Awesome -->
        <link href="{{ asset('gantella-theme/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        {#<div class="video_gif">#}
            {#<video autoplay loop poster="{{ asset('img/photo_IE_background.png') }}" id="bgvid">#}
                {#<source src="{{ asset('img/NoobsMP4.mp4') }}" type="video/mp4">#}
            {#</video>#}
            {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                {# 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') #}{##}{# |#}
                {#<a href="{{ path('fos_user_security_logout') }}">#}
                    {#{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
                {#</a>#}
            {#{% else %}#}
                {# <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> #}
            {#{% endif %}#}
        {#</div>#}
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        {% block fos_user_content %}

        {% endblock fos_user_content %}

        {% block javascripts %}
            <!-- jQuery -->
            <script src="{{ asset('gantella-theme/vendors/jquery/dist/jquery.min.js') }}"></script>

            <!-- Bootstrap -->
            <script src="{{ asset('gantella-theme/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>

            <!-- WYSIWYG -->
            <script src="{{ asset('gantella-theme/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js') }}"></script>
            <script src="{{ asset('gantella-theme/vendors/jquery.hotkeys/jquery.hotkeys.js') }}"></script>
            <script src="{{ asset('gantella-theme/vendors/google-code-prettify/src/prettify.js') }}"></script>

            <!-- Select2 -->
            <script src="{{ asset('gantella-theme/vendors/select2/dist/js/select2.full.min.js') }}"></script>

            <!-- Custom Theme Scripts -->
            <script src="{{ asset('gantella-theme/build/js/custom.min.js') }}"></script>

        {% endblock %}
    </body>
</html>
