{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    <h1>Sites list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
                <td><a href="{{ path('site_show', { 'id': site.id }) }}">{{ site.id }}</a></td>
                <td>{{ site.label }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('site_show', { 'id': site.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('site_edit', { 'id': site.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('site_new') }}">Create a new site</a>
        </li>
    </ul>
{% endblock %}
