<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <style>
            img.superbg {
                position:fixed;
                top:0;
                left:0;
                z-index:-1;
            }
            .divconnect{
                position: absolute; /* postulat de départ */
                top: 50%; left: 50%; /* à 50%/50% du parent référent */
                transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
            }
            .divsubmit{
                position: absolute; /* postulat de départ */
                top: 150%; left: 50%; /* à 50%/50% du parent référent */
                transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
            }
            .divcompte{
                position: absolute; /* postulat de départ */
                top: 200%; left: 50%; /* à 50%/50% du parent référent */
                transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
            }
            .divtitle{
                position: absolute; /* postulat de départ */
                top: 20%; left: 50%; /* à 50%/50% du parent référent */
                transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
                font-size: 70px;
                color: white;
            }
        </style>
        <link href="{{ asset('css/materialize.css') }}" rel="stylesheet"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <img src="{{ asset('img/wallpaper-connexion2.jpg') }}" class="superbg" />
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
            {% endif %}
        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <div class="divtitle">
            <h1 style="font-size: 100%;text-shadow: 2px 2px pink;">MA LIFE</h1>
        </div>

        <div class="divconnect">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script>
        function redimensionnement(){

            var $image = $('img.superbg');
            var image_width = $image.width();
            var image_height = $image.height();

            var over = image_width / image_height;
            var under = image_height / image_width;

            var body_width = $(window).width();
            var body_height = $(window).height();

            if (body_width / body_height >= over) {
                $image.css({
                    'width': body_width + 'px',
                    'height': Math.ceil(under * body_width) + 'px',
                    'left': '0px',
                    'top': Math.abs((under * body_width) - body_height) / -2 + 'px'
                });
            }

            else {
                $image.css({
                    'width': Math.ceil(over * body_height) + 'px',
                    'height': body_height + 'px',
                    'top': '0px',
                    'left': Math.abs((over * body_height) - body_width) / -2 + 'px'
                });
            }
        }

        $(document).ready(function(){

            // Au chargement initial
            redimensionnement();

            // En cas de redimensionnement de la fenêtre
            $(window).resize(function(){
                redimensionnement();
            });

        });
    </script>
</html>
