{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    <h1>Userthemes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for userTheme in userThemes %}
            <tr>
                <td><a href="{{ path('usertheme_show', { 'id': userTheme.id }) }}">{{ userTheme.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('usertheme_show', { 'id': userTheme.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('usertheme_edit', { 'id': userTheme.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usertheme_new') }}">Create a new userTheme</a>
        </li>
    </ul>
{% endblock %}
