{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    <h1>Usertheme</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ userTheme.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usertheme_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('usertheme_edit', { 'id': userTheme.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
